body{
  background-color: #212121;
}

div#field{
  background-color: #4CAF50;
  height: 33em;
  left: 22%;
  top:3em;
  position: relative;
  width: 50em;

}

div#touch_Line{
  border: 5px solid white;
  height: 30em;
  left: 1.2em;
  position: relative;
  top: 1.2em;
  width: 47em;
}

.goal_area{
  border: 5px solid white;
  height: 16em;
  position: absolute;
  top: 6em;
  width: 6em;
}

.goal{
  border: 5px solid white;
  height: 7em;
  position: absolute;
  top: 4em;
  width: 2.5em;
}

.penalty_ac{
  border: 5px solid white;
  height: 7em;
  position: absolute;
  top: 10.5em;
  width: 6em;
}

div div#left_goal_area{
  border-left: none;
}

div div#left_goal{
border-left: none;
}

div div#right_goal_area{
  border-right: none;
  right: 0;
}

div div#right_goal{
border-right: none;
right: 0;
}

div div#left_penalty_arc{
  border-left: none;
  border-top: none;
  border-bottom: none;
  border-radius: 50%;
  left: 3em;
}

div div#right_penalty_arc{
  border-right:none;
  border-top: none;
  border-bottom: none;
  border-radius: 50%;
  right: 0;
  right: 3em;
}

div div#center_cicle{
  border: 5px solid white;
  border-radius: 50%;
  height: 10em;
  position: relative;
  top: 9.5em;
  left: 18em;
  width: 10em;
}

div div#center_line{
  background-color: white;
  height: 30.3em;
  left: 23em;
  position: absolute;
  top: .03em;
  width: .3em;
}
