body{
  background-color: #212121;
}

div#field{
  background-color: #4CAF50;
  height: 33em;
  left: 22%;
  top:3em;
  position: relative;
  width: 50em;

}

div#touch_Line{
  border: 5px solid white;
  height: 30em;
  left: 1.2em;
  position: relative;
  top: 1.2em;
  width: 47em;
}
.goal{
  border: 5px solid white;
  height: 16em;
  position: absolute;
  top: 6em;
  width: 6em;
}
div div#left_goal_area{
  border-left: none;
}
div div#right_goal_area{
  border-right: none;
  right: 0;
}
div div#centre_cicle{
  border: 5px solid white;
  border-radius: 50%;
  height: 10em;
  position: relative;
  top: 9.5em;
  left: 18em;
  width: 10em;


}
